.color-main{
    color: #38833E;
}

.bg-main{
    background-color: #38833E;
}


.text-white{
    color: white;
}

.gradient{
    background-color:  white;
}


.activeTab{
    border-bottom: 1px solid #38833E;
    color: #38833E;
}


.box-shadow{
    box-shadow: 5px 5px 5px #ccc, -5px -5px 5px #ccc;
}