{% extends './layout.html' %}
{% block body %}
    <main class="main__content  -black w-full h-[100vh] flex flex-col pt-10">
        <div class="container__inputs w-[100%] h-[10%] flex items-center justify-end">
            <button id="buttonSale" class="tab-link border border-none w-auto pl-10 pr-10 h-full color-main font-bold">View requests</button>
            <button id="buttonView" class="tab-link border border-none w-auto pl-10 pr-10 h-full">Record</button>
        </div>
        <section class="container__inputs w-full h-[90%] contentTab" id="Sale-Content">
            <article class="inputs__content w-full h-full flex flex-col justify-evenly items-center">
               <div class="w-[90%] h-[20%] border border-black relative flex flex-col justify-around">
                    <span class="w-auto h-auto border border-black">is offering you a product</span>
                    <button class="absolute left-[50%] bottom-0">View more</button>
                    <button class="absolute left-[50%] bottom-0">Accept</button>
                    <button class="absolute left-[50%] bottom-0">Negotiate</button>
               </div>
            </article>
        </section>
        <section class="hidden container__inputs w-full h-[90%] contentTab" id="View-Content">
            <article class="inputs__content w-full h-full flex flex-col justify-evenly items-center flex flex-col pl-[100px] pr-[100px]">
                <div class="card w-[100%] h-[45%] flex box-shadow rounded-md">
                    <div class="chart__left w-1/2 h-[100%] flex flex-col justify-around">
                        <div class="container_material  w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full  font-medium">Type of material</span>
                            <span class="w-1/2 h-full ">Type of material</span>
                        </div>
                        <div class="container_amount w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full  font-medium">Amount</span>
                            <span class="w-1/2 h-full ">Amount</span>
                        </div>
                        <div class="container_material w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full font-medium">Price</span>
                            <span class="w-1/2 h-full ">30000</span>
                        </div>
                    </div>
                    <div class="chart__right  w-1/2 h-[100%] flex flex-col justify-evenly">
                        <div class="container_material w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full  font-medium">Recycler name</span>
                            <span class="w-1/2 h-full ">Recycler name</span>
                        </div>
                        <div class="container_amount  w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full  font-medium">Address</span>
                            <span class="w-1/2 h-full ">Address</span>
                        </div>
                        <div class="container_material w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full font-medium">Date</span>
                            <span class="w-1/2 h-full">Date</span>
                        </div>
                        <div class="container_material w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full  font-medium">Status</span>
                            <span class="w-1/2 h-full ">Status</span>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
    {% endblock %}