<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vibeOn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/sale.css') }}">
</head>
<body class="w-full h-[100vh] black overflow-hidden gradient">
    <header class="w-full h-[10vh] flex items-center justify-between p-[10px]">
        <section class="image__container w-[10%] flex flex-col items-center h-full ml-[10px]">
            <img id="image-header" class="max-w-[45%] h-auto" alt="hero-image" src="{{ url_for('static', filename='assets/ecosistemas-icono.png') }}">
        </section>
        <div class="user_info w-[20%] h-full flex items-center justify-end  pr-10">
            <span class=" border border-none bg-main rounded-[50%] w-[50px] h-[50px] text-white flex items-center justify-center mr-[18px]">M</span>
            <span>You are a salesman</span>             
        </div>
    </header>
    <main class="main__content  -black w-full h-[100vh] flex flex-col pt-10">
        <section class="container__inputs w-full h-[90%] contentTab flex" id="Sale-Content">
            <article class="inputs__content w-[40%] h-full flex flex-col justify-evenly items-center">
                <div class="container__material  w-1/2 h-auto flex flex-col items-center p-[10px]">
                    <span>Type of material</span>
                    <select id="dropdownMaterial" class="w-[70%] h-full border border-grey-400 rounded-md "></select>
                </div>
                <div class="container__amount  w-1/2 h-auto p-[10px] flex flex-col items-center">
                    <span>Amount</span>
                    <input type="text" class="w-[70%] h-full border border-grey-400 rounded-md">
                </div>
                <div class="container__price w-1/2 h-auto p-[10px] flex flex-col items-center">
                    <span>Price</span>
                    <input type="number" class="w-[70%] h-full border border-grey-400 rounded-md">
                </div>
                <div class="container__button w-1/2 h-[10%] mb-[30px] flex justify-center">
                    <button class="w-[70%] h-full border border-grey-400 rounded-md bg-main text-white">Make a sales request</button>
                </div>
            </article>
            <article class="inputs__content w-[60%] h-full flex flex-col justify-evenly items-center flex flex-col pl-[10px] pr-[10px]">
                <div class="card w-[100%] h-[45%] flex box-shadow rounded-md">
                    <div class="chart__left w-1/2 h-[100%] flex flex-col justify-around">
                        <div class="container_material  w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full  font-medium">Type of material</span>
                            <span class="w-1/2 h-full ">Type of material</span>
                        </div>
                        <div class="container_amount w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full  font-medium">Amount</span>
                            <span class="w-1/2 h-full ">Amount</span>
                        </div>
                        <div class="container_material w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full font-medium">Price</span>
                            <span class="w-1/2 h-full ">30000</span>
                        </div>
                    </div>
                    <div class="chart__right  w-1/2 h-[100%] flex flex-col justify-evenly">
                        <div class="container_material w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full  font-medium">Recycler name</span>
                            <span class="w-1/2 h-full ">Recycler name</span>
                        </div>
                        <div class="container_amount  w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full  font-medium">Address</span>
                            <span class="w-1/2 h-full ">Address</span>
                        </div>
                        <div class="container_material w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full font-medium">Date</span>
                            <span class="w-1/2 h-full">Date</span>
                        </div>
                        <div class="container_material w-full h-auto p-[5px] flex ">
                            <span class="w-1/2 h-full  font-medium">Status</span>
                            <span class="w-1/2 h-full ">Status</span>
                        </div>
                    </div>
                </div>
            </article>
        </section>
       
    </main>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</body>
</html>